{% extends "model-page.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <a style="text-align: center; margin-bottom: 100px; width:10%;">
      <h3 style="color: #343a40;">NFS-CXS</h3>
  </a>
  <div class="input-group">
    <div class="custom-file">
      <input type="file" name="file" multiple="true" required="required" class="custom-file-input" id="inputGroupFile04">
      <label class="custom-file-label" for="inputGroupFile04">Selecionar Arquivos</label>
    </div>
    <div class="input-group-append">
      <button type="submit" class="btn btn-outline-secondary" type="button">Converter</button>
    </div>
  </div>
</form>




{% endblock %}